name: API Workflow

on:
  pull_request:
    branches: [main]

jobs:
  optic:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Optic Changelog
      uses: opticdev/optic-changelog@main
      with:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        OPTIC_API_KEY: ${{secrets.OPTIC_API_KEY}}
    - name: Optic API Checks
      run: node checks.js
      env:
        SPECTACLE_URL: http://localhost:34444/api/specs/1/spectacle
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 15
    - name: Cache npm dependencies
      uses: actions/cache@v2
      with:
        path: '~/.npm'
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install Optic CLI
      uses: ./cli
    - name: Install app dependencies
      run: npm ci
    - name: Run API tests
      run: api run test --ci --exit-on-diff
  openapi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 15
    - name: Cache npm dependencies
      uses: actions/cache@v2
      with:
        path: '~/.npm'
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install Optic CLI
      run: npm install --global --legacy-peer-deps @useoptic/cli
    - name: Generate OpenAPI
      run: api generate:oas --baseDocument=./base-openapi.yml
    - uses: stoplightio/spectral-action@v0.7.3
      with:
        file_glob: '.optic/generated/openapi.yaml'