name: API Workflow

on:
  pull_request:
    branches: [main]

jobs:
  api-checks:
    defaults:
      run:
        working-directory: api-checks
    runs-on: ubuntu-latest
    steps:
    - name: Checkout HEAD
      uses: actions/checkout@v2
    - name: Checkout BASE
      uses: actions/checkout@v2
      with:
        ref: main
        path: main-branch
    - name: Get base Optic spec
      run: echo "::set-output name=base-spec::$(cat ../main-branch/.optic/api/specification.json)"
      id: get-base-spec
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 15
    - name: Cache npm dependencies
      uses: actions/cache@v2
      with:
        path: '~/.npm'
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install app dependencies
      run: npm ci
    - name: Run API checks
      run: node main.js
      env:
        # GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        SINCE_BATCH_COMMIT_ID: a2210088-b48c-44aa-853d-fece5e924482
        BASE_SPEC: ${{steps.get-base-spec.base-spec}}
  # optic:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - run: cat $(echo $GITHUB_EVENT_PATH)
  #   - name: Use Node.js
  #     uses: actions/setup-node@v2
  #     with:
  #       node-version: 15
  #   - name: Cache npm dependencies
  #     uses: actions/cache@v2
  #     with:
  #       path: '~/.npm'
  #       key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
  #       restore-keys: |
  #         ${{ runner.os }}-node-
  #   - name: Install app dependencies
  #     run: npm ci
  #   - name: Optic Changelog
  #     uses: opticdev/optic-changelog@main
  #     with:
  #       GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  #       OPTIC_API_KEY: ${{secrets.OPTIC_API_KEY}}
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Use Node.js
  #     uses: actions/setup-node@v2
  #     with:
  #       node-version: 15
  #   - name: Cache npm dependencies
  #     uses: actions/cache@v2
  #     with:
  #       path: '~/.npm'
  #       key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
  #       restore-keys: |
  #         ${{ runner.os }}-node-
  #   - name: Install Optic CLI
  #     uses: ./cli
  #   - name: Install app dependencies
  #     run: npm ci
  #   - name: Run API tests
  #     run: api run test --ci --exit-on-diff
  # openapi:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Use Node.js
  #     uses: actions/setup-node@v2
  #     with:
  #       node-version: 15
  #   - name: Cache npm dependencies
  #     uses: actions/cache@v2
  #     with:
  #       path: '~/.npm'
  #       key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
  #       restore-keys: |
  #         ${{ runner.os }}-node-
  #   - name: Install Optic CLI
  #     run: npm install --global --legacy-peer-deps @useoptic/cli
  #   - name: Generate OpenAPI
  #     run: api generate:oas --baseDocument=./base-openapi.yml
  #   - uses: stoplightio/spectral-action@v0.7.3
  #     with:
  #       file_glob: '.optic/generated/openapi.yaml'